.About {
  width: 90%;
  height: 600px;

  display: flex;
  flex-direction: row;
  padding: 10px;
  /* gap: 10px; */
  justify-content: space-between;
}
.About__Container {
  width: 65%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}
.About__Intro {
  width: 90%;
  height: 200px;

  padding: 5px;
}
.About__Intro h1 {
  font-size: var(--MainHeadingsSize);
  color: var(--TextColor);
}
.About__Objective {
  width: 90%;
  height: 200px;

  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.About__Objective p {
  font-size: 15px;
  color: var(--TextColor2);
  text-align: justify;
}
.About__SkillNameContainer {
  width: 30%;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.About__NameCircle {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Circle {
  height: 200px;
  width: 200px;
  background-color: var(--ComponentsBackGroundColor);
  border: var(--ComponentsBorder);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Circle img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: var(--ComponentsBorder);
}
.About__NameCircle:hover .Circle {
  opacity: 1;
  visibility: visible;
}
.About__MyToolKit {
  width: 100%;
  height: 250px;
  display: flex;
  border-radius: 10px;
  border: var(--ComponentsBorder);
  flex-direction: column;
  background-color: var(--ComponentsBackGroundColor);
  justify-content: space-around;
}
.About__MytoolKitHeading {
  width: 100%;
  padding: 5px;
  height: 50px;
}
.About__MytoolKitHeading h3 {
  font-size: 20px;
  color: var(--TextColor);
}
.About__MytoolKitHeading p {
  font-size: 15px;
  color: var(--TextColor2);
}
.About__MytoolKitIcons {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 10px;
}

.SkillsContainer {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Skills {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  justify-content: space-around;
  padding: 10px;
}
.Skills__Heading {
  font-size: 20px;
  color: var(--TextColor);
}
.Skills__SkillsTiles {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.Skills__Tiles {
  width: 90px;
  height: 30px;
  border: var(--ComponentsBorder);
  background-color: var(--ComponentsBackGroundColor);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ReachOut {
  width: 50%;
  height: 150px;
  /* border: var(--ComponentsBorder); */
  background-color: var(--ComponentsBackGroundColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(
      249.05deg,
      rgba(230, 62, 33, 0.2) 18.59%,
      rgba(51, 19, 14, 0) 53.25%
    ),
    #1b1b1b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ReachOut__Heading {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.ReachOut__GetInTouchBtn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReachOut__GetInTouchBtn button {
  width: 20%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: var(--ButtonHeadingColor);
}
/* Frame 95418 */

/* box-sizing: border-box;

/* Auto layout */
/* display: flex;
flex-direction: column;
align-items: center;
padding: 60px 40px;
gap: 70px;

width: 594px;
height: 149px;

background: linear-gradient(249.05deg, rgba(230, 62, 33, 0.2) 18.59%, rgba(51, 19, 14, 0) 53.25%), #1B1B1B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 14px; */

/* Inside auto layout */
/* flex: none;
order: 0;
flex-grow: 0; */
