.cardsContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cardsContainer__LeftCards {
  height: 900px;
  width: 47%;
  display: flex;
  /* border: 1px solid; */
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.cardsContainer__RightCards {
  height: 900px;
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.cardsContainer__Projects {
  height: 400px;
  width: 100%;
  border: var(--ComponentsBorder);
  background-color: var(--ComponentsBackGroundColor);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.Projects__RecentWork {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  color: var(--TextColor2);
}
.ProjectsContainer {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 25px;
}
.Projects {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ProjectNameDate {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-around;
  width: 50%;
}
.ProjectNameDate h4 {
  color: var(--TextColor);
  font-size: 20px;
}
.ProjectNameDate p {
  color: var(--TextColor2);
  font-size: 15px;
}

.web {
  font-size: 15px;
  color: var(--TextColor2);
  height: 60px;
  width: 50%;
  /* text-align: end; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.cardsContainer__Preview {
  height: 500px;
  width: 100%;
  border: var(--ComponentsBorder);
  background-color: var(--ComponentsBackGroundColor);
  border-radius: 5px;
}
.Preview__HeadingAndLogoContainer {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.Preview__HeadingsContainer {
  width: 50%;
  height: 70px;
  gap: 5px;
}
.Preview__HeadingsContainer h1 {
  font-size: var(--SubHeadingsSize);
  color: var(--TextColor);
}
.Preview__HeadingsContainer p {
  font-size: var(--ContentSize);
  color: var(--TextColor2);
}
.Preview__HeadingAndLogoContainer img {
  width: 40px;
  height: 40px;
}
.ImageContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.ImageContainer img {
  object-fit: cover;
  position: relative;
  z-index: 999;
}
.ImageSlider {
  width: 16%;
  position: absolute;
  z-index: 1;
  height: 400px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.ImageSlider img {
  width: 100%;
  height: 384px;
  object-fit: cover;
  position: absolute;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.cardsContainer__ProductDesign {
  border: var(--ComponentsBorder);
  background: linear-gradient(
      76.27deg,
      rgba(230, 62, 33, 0.2) 10.4%,
      rgba(51, 19, 14, 0) 25.53%
    ),
    #1b1b1b;
  width: 100%;
  background-color: var(--ComponentsBackGroundColor);
  height: 90px;
  border-radius: 5px;
  color: var(--TextColor2);
  display: var(--Flex);
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative; /* important if you use absolute child */
}
.cardsContainer__ProductDesign p {
  text-decoration: none;
  color: var(--TextColor2);
  font-size: var(--ContentSize);
}
.customLink {
  text-decoration: none;
}
@media (max-width: 700px) {
  .cardsContainer__ProductDesign:hover {
    width: 100%;
  }
}
.cardsContainer__ExpNocode {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-radius: 5px;
  color: var(--TextColor2);
  position: relative;
}

.cardsContainer__UserExperiance {
  border: var(--ComponentsBorder);
  width: 50%;
  height: 100px;
  border-radius: 5px;
  background-color: var(--ComponentsBackGroundColor);
  color: var(--TextColor2);
  display: var(--Flex);
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(
      76.27deg,
      rgba(230, 62, 33, 0.2) 10.4%,
      rgba(51, 19, 14, 0) 25.53%
    ),
    #1b1b1b;
  /* transform: rotate(-180deg); */
  transition: all 0.6s ease-in-out;
}
.cardsContainer__UserExperiance p {
  color: var(--TextColor2);
  font-size: var(--ContentSize);
}

.CertificatesContainer {
  width: 100%;
  height: 450px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  list-style: none;
  padding-left: 0;
  gap: 10px;
}
.CertificatesContainer li {
  display: flex;
  flex-direction: row;
  /* align-items: baseline; */
  gap: 8px;
  margin-bottom: 10px;
  color: var(--TextColor2);
  width: 100%;
  height: 50px;
  justify-content: left;
  align-items: baseline;
}
.CertificatesContainer li i {
  color: #f35034;
  flex-shrink: 0; /* icon doesn't shrink */
  margin-top: 2px; /* fine-tune vertical alignment */
}
.cardsContainer__UserExperiance:hover {
  position: relative;
  height: 550px;
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.cardsContainer__UserExperiance:hover .CertificatesContainer{
  display: flex;
}
.cardsContainer__UserExperiance p:hover{
  text-align: center;
}
.cardsContainer__NoCodeDevelop {
  border: var(--ComponentsBorder);
  width: 50%;
  height: 100px;
  border-radius: 5px;
  background-color: var(--ComponentsBackGroundColor);
  color: var(--TextColor2);
  display: var(--Flex);
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      76.27deg,
      rgba(230, 62, 33, 0.2) 10.4%,
      rgba(51, 19, 14, 0) 25.53%
    ),
    #1b1b1b;
  /* transform: rotate(-180deg); */
  transition: all 0.6s ease-in-out;
}
.cardsContainer__NoCodeDevelop p {
  /* transform: rotate(180deg); */
  color: var(--TextColor2);
  font-size: var(--ContentSize);
}

.cardsContainer__NoCodeDevelop:hover {
  position: relative;
  height: 550px;
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.cardsContainer__NoCodeDevelop:hover .CertificatesContainer{
  display: flex;
}
.cardsContainer__NoCodeDevelop p:hover{
  text-align: center;
}
.cardsContainer__AllMusicProduct {
  border: var(--ComponentsBorder);
  height: 350px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--ComponentsBackGroundColor);
  color: var(--TextColor2);
}
.cardsContianer__AllMapDesign {
  border: var(--ComponentsBorder);
  height: 350px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--ComponentsBackGroundColor);
  color: var(--TextColor2);
}

@media (max-width: 700px) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
  }
  .cardsContainer__LeftCards {
    width: 100%;
  }
  .cardsContainer__RightCards {
    width: 100%;
    height: auto;
  }
}
